<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="src/Core/Autoloader.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="USGAR Hotels Backend Test Suite">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="ENVIRONMENT" value="testing"/>
        <env name="SITE_URL" value="http://127.0.0.1:8089"/>
    </php>
</phpunit>
